@import './variables.scss';

header {
  .nav-wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 70px;
    margin-bottom: 54px;
    .logo {
      z-index: 3;
      a {
        text-decoration: none;
        color: $gold;
        letter-spacing: 1px;
      }
      h2 {
        margin: 0;
        margin-top: -10px;
        font-size: 24px;
        letter-spacing: -0.8px;
      }
    }
    .hamburger {
      width: 24px;
      height: 14px;
      transform: rotate(0deg);
      transition: .3s ease-in-out;
      cursor: pointer;
      z-index: 3;
      span {
        display: block;
        position: absolute;
        height: 2px;
        width: 100%;
        background: $gold;
        opacity: 1;
        left: 0;
        transform: rotate(0deg);
        transition: .2s ease-in-out;
        transform-origin: left center;
        &:nth-child(1) {
          top: 0px;
        }
        &:nth-child(2) {
          top: 6px;
        }
        &:nth-child(3) {
          top: 12px;
        }

      }
      &:hover {
        span {
          &:nth-child(1) {
            // top: 0px;
            transform: translateY(-2px);
          }
          &:nth-child(2) {
            // top: 8px;
          }
          &:nth-child(3) {
            transform: translateY(2px);
          }
        }
      }
      &.isOpen {
        span {
          &:nth-child(1) {
            transform: rotate(45deg);
            top: 0px;
          }
          &:nth-child(2) {
            width: 0%;
            opacity: 0;
          }
          &:nth-child(3) {
            transform: rotate(-45deg);
            top: 16px;
          }
        }
      }
    }
  }

  @media (max-width: 767px) {
    .nav-wrapper {
      margin-bottom: 32px;
      padding-top: 35px;
      .logo {
        h2 {
          font-size: 20px;
        }
      }
    }
  }
}
