@import './variables.scss';

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-top: 110px;
  margin-bottom: 130px;
  .logo {
    a {
      text-decoration: none;
      color: $gold;
      letter-spacing: 1px;
    }
    h2 {
      margin: 0;
      margin-top: -10px;
      font-size: 33px;
      letter-spacing: -0.8px;
    }
  }
  .hamburger {
    width: 24px;
    height: 14px;
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    cursor: pointer;
    span {
      display: block;
      position: absolute;
      height: 2px;
      width: 100%;
      background: $gold;
      opacity: 1;
      left: 0;
      transform: rotate(0deg);
      transition: .25s ease-in-out;
      &:nth-child(1) {
        top: 0px;
      }
      &:nth-child(2) {
        top: 5px;
      }
      &:nth-child(3) {
        top: 11px;
      }


    }
  }
}

.title {
  margin-bottom: 151px;
  h1 {
    font-size: 48px;
    margin-bottom: 20px;
    width: 84%;
  }
}

.btn-wrapper {
  .btn {
    border: none;
    background-color: white;
    border: 2px solid $gold;
    padding: 8px 52px 8px 52px;
    border-radius: 300px;
    color: $gold;
    text-transform: uppercase;
    font-family: 'Circular Std Black';
    font-weight: normal;
    text-align: center;
    font-size: 15px;
    line-height: 27px;
    vertical-align: baseline;
  }
}

.projects {
  margin-bottom: 151px;
  .row {
    margin-bottom: 16px;
  }
  .project-thumb {
     height: 155px;
     position: relative;
     background-color: $black-grey;
     overflow: hidden;
     .thumb-inner{
       position: relative;
       height: 100%;
       .thumb-hover {
         opacity: 0;
         position: absolute;
         width: 100%;
         height: 100%;
         transition: all .3s ease;
         background-color: rgba(30, 32, 35, 0.85);
         border: 3px solid $gold;
         z-index: 1;
         h3 {
           font-size: 21px;
           position: absolute;
           width: 100%;
           margin: 0;
           text-align: left;
           top: 50%;
           color: $gold;
           padding: 32px;
           transform: translateY(-50%);
         }
       }
       img {
         width: 100%;
         opacity: 0.8;
         height: auto;
       }
     }
     &:hover {
       cursor: pointer;
       .thumb-hover {
         opacity: 1;
       }
     }
  }
}

footer {
  background-color: $black-grey;
  .footer-inner {
    padding: 54.1667px 0px;
  }
}
