extends layout

block content
  .header
    nav.menu
      .header-logo-wrap: h1 Justin Hardin
      .nav-wrapper
        ul
          li.current-item: a(href="#") Home
          li: a(href="#") My Work
          li: a(href="#") About Me
          li: a(href="#") Get in Touch
          li: a(href="#") Blog
      a.toggle-nav(href="#")&#9776; 
