@import './variables.scss';

nav {
  .nav-background {
    width: 100%;
    position: fixed;
    top: 0px;
    background: rgba(255, 255, 255, 0.94);
    height: 100%;
    z-index: -1;
    opacity: 0;
    visibility: hidden;
    transition: .2s ease-in-out;
  }
  ul {
    text-align: center;
    margin: 0px;
    padding: 0px;
    position: absolute;
    top: 40%;
    width: 100%;
    li {
      margin-bottom: 20px;
      a {
        color: $gold;
        font-size: 65px;
        line-height: 65px;
       }
    }
  }
  &.isOpen {
    .nav-background {
      visibility: visible;
      opacity: 1;
      z-index: 2;
    }
  }
}
